Django==1.7
GDAL==1.10.1
Mopidy==0.19.3
Mopidy-API-Explorer==1.0.1
Mopidy-Lux==1.0.0
Mopidy-Spotify==1.2.0
Pykka==1.2.0
backports.ssl-match-hostname==3.4.0.2
certifi==14.05.14
dj-static==0.0.6
django-phonenumber-field==0.6
django-twilio==0.7.1
httplib2==0.9
phonenumbers==6.2.0
pyspotify==1.11
requests==2.3.0
six==1.7.3
static3==0.5.1
tinydb==1.4.0
tornado==4.0
twilio==3.6.7
virtualenv==1.11.6
wsgiref==0.1.2
