@mixin fontFace($family,$src,$weight: normal,$style: normal) {
	@font-face {
		font-family: $family;
		src: url('../../#{$src}.eot'); // IE9 compat
		src: url('../../#{$src}.eot?#iefix') format('embedded-opentype'), // IE8 and below
			url('../../#{$src}.woff') format('woff'), // standards
			url('../../#{$src}.ttf') format('truetype'), // Safari, Android, iOS
			url('../../#{$src}.svg##{$family}') format('svg'); // legacy iOS

		font-style: $style;
		font-weight: $weight;
	}
}

@include fontFace('PixelDust','static/fonts/pixeldu');
@include fontFace('PixelHour','static/fonts/PixelHour');

//General
$background-color-primary: #111111;

//Font
$primary-font-color: #02d602;
$body-font: 'PixelDust';
$header-font: 'PixelHour';

button.button {
	background-color: transparent;
	border-color: $primary-font-color;
	font-family: $body-font;
	&:hover {
		background-color: $primary-font-color;
		color: black;
	}
}

body {
	background-color: $background-color-primary;
	font-size: 100%;
}

h1, h2, h3, h4, h5, h6, p {
	color: $primary-font-color;
	text-align: center;
	font-family: $body-font;
}

#sign-in-button {
	position: fixed;
	bottom: 91.5%;
	left: 91%;
	margin-left: 2%;
}

.tagline {
	h1 {
		font-size: 3rem;
		letter-spacing: 3px;
	}
}

.title {
	h1 {
		font-family: $header-font;
		font-size: 185px;
		margin-top: -5.5%;
	}
}

.start-group {
	// font-size: 2em;
		h1, h3, h5 {
			line-height: 50%;
		}
		h3 {
			letter-spacing: 3px;
		}
}

.scroll-down {
	position: absolute;
	bottom: 0px;
	left: 50%;
	width: 200px;
	margin-left: -100px;
	color: white;
}

#chevron {
	transform: rotate(180deg);
	margin-top: -30px;
}