@font-face {
  font-family: 'PixelDust';
  src: url('../..//fonts/pixeldu.eot');
  src: url('../..//fonts/pixeldu.eot?#iefix') format('embedded-opentype'), url('../..//fonts/pixeldu.woff') format('woff'), url('../..//fonts/pixeldu.ttf') format('truetype'), url('../..//fonts/pixeldu.svg#PixelDust') format('svg');
  font-style: normal;
  font-weight: normal; }

@font-face {
  font-family: 'PixelHour';
  src: url('../..//fonts/PixelHour.eot');
  src: url('../..//fonts/PixelHour.eot?#iefix') format('embedded-opentype'), url('../..//fonts/PixelHour.woff') format('woff'), url('../..//fonts/PixelHour.ttf') format('truetype'), url('../..//fonts/PixelHour.svg#PixelHour') format('svg');
  font-style: normal;
  font-weight: normal; }

button.button {
  background-color: transparent;
  border-color: #02d602;
  font-family: 'PixelDust'; }
  button.button:hover {
    background-color: #02d602;
    color: black; }

body {
  background-color: #111111;
  font-size: 100%; }

h1, h2, h3, h4, h5, h6, p {
  color: #02d602;
  text-align: center;
  font-family: 'PixelDust'; }

#sign-in-button {
  position: fixed;
  bottom: 91.5%;
  left: 91%;
  margin-left: 2%; }

.tagline h1 {
  font-size: 3rem;
  letter-spacing: 3px; }

.title h1 {
  font-family: 'PixelHour';
  font-size: 185px;
  margin-top: -5.5%; }

.start-group h1, .start-group h3, .start-group h5 {
  line-height: 50%; }
.start-group h3 {
  letter-spacing: 3px; }

.scroll-down {
  position: absolute;
  bottom: 0px;
  left: 50%;
  width: 200px;
  margin-left: -100px;
  color: white; }

#chevron {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
  margin-top: -30px; }
