
{% block content %}
<!--Load the AJAX API-->
    <link rel="stylesheet" type="text/css" href="static/chart.css">
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript">

      // Load the Visualization API and the piechart package.
      google.load('visualization', '1.0', {'packages':['corechart']});

      // Set a callback to run when the Google Visualization API is loaded.
      google.setOnLoadCallback(drawChart);

      // Callback that creates and populates a data table,
      // instantiates the pie chart, passes in the data and
      // draws it.
      function drawChart() {

        // Create the data table.
        var data = new google.visualization.DataTable();
        data.addColumn('string', 'Day');
        data.addColumn('number', '# of pushups');
        data.addRows([
          ['Monday', 13],
          ['Tuesday', 13],
          ['Wednesday', 14],
          ['Thursday', 13],
          ['Friday', 10]
        ]);

        // Set chart options
        var options = {'title':'Pushup Stats:',
                       'width':1420,
                       'height':300,
                       'is3D':true,
                       'backgroundColor': '#55ED58',
                       'titleTextStyle': {color: 'white'},

                        

                        
                          }
                       ;

        // Instantiate and draw our chart, passing in some options.
        var chart = new google.visualization.PieChart(document.getElementById('chart_div'));
        chart.draw(data, options);
      }
    </script>

  <h2>Profile</h2>
  <div id="chart_div"></div>

  {% for field in form %}
  {{field.error}}

  {% endfor %}

  <form action="/accounts/profile/" method = "post" >{% csrf_token %}
    {{form.as_ul}}

  <input type="submit" value="Update"/>

  </form>

{% endblock %}
