    {% extends "base.html" %}

    {% block head %}
        <script type="text/javascript">
        $(document).ready(function() {
            $('#fullpage').fullpage({
                verticalCentered: true,
                sectionsColor: ['#111111'],
                css3: true
            });
        });
        </script>
    {% endblock %}

    {% block body %}

        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

        <div id="fullpage">
            <div class="section" id="section0">
                <button onclick="location.href='/accounts/login/'" class="button tiny" id="sign-in-button">Login</button>
                <div class="tagline">
                    <h1>because sitting is the new smoking</h1>
                </div>
                <div class="title">
                    <h1>Push Ups</h1>
                </div>
                <div class="start-group">
                    <h3>Press</h3>
                    <h1>Start</h1>
                    <h5>to begin</h5>
                </div>
            <div class="scroll-down">
                <p>Learn More</p>
                <div id="chevron">
                    <h2>^</h2>
                </div>
            </div>
            </div>
            <div class="section" id="section1">
                <h1>You're sitting on your ass right now aren't you? </br>Aren't you!</h1>
            </div>
            <div class="section" id="section2">
                <h1>See! </br>We know. </br>We know how you are. </br>Ya lazy bum!</h1>
            </div>
            <div class="section" id="section3">
              <h1>Sarge is here to get that shit in order. </br>Press start to get in the game.</br></br></h1>
              <div class="row">
                <div class="small-2 columns small-centered">
                    <button onclick="location.href='/accounts/register/'" class="button large">Start</button>
                </div>
            </div>
            </div>
        </div>

    {% endblock %}
